gi.jumbotron {
    background-image: url(Museum\ Satwa.jpeg);
    background-size: cover;
    height: 900px;
    text-align: center;
    margin-top: -120px;
}

.display-4 {
    color:black;
    padding-top: 200px;
}
.jumbotron p{
    color: black;
    font-size: 25px;
}
.jumbotron hr {
    border-color: #f05f40;
    width: 70px;
    border-width: 3px;
}
.jumbotron .btn {
    background-color: #f05f40;
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 40px;
}
